{% extends "base.html" %}

{% block title %}
STRONGER | About
{% endblock %}

{% block message %}
<div id="about" class="text-center">

  <div id="about-wallpaper"></div>

  <div id="about-objectives">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>Objectives</h2>
          <p>The driving concepts behind stronger are to:</p>
          <ul class="no-bullet-points">
            <li>offer a free workout tracking tool for people who enjoy weight training</li>
            <li>deliver a greater user experience than similar pre-existing products</li>
            <li>instigate progress through healthy competition</li>
            <li>encourage users to become involved in the development of the software</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="about-stack">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>Platform Stack</h2>
          <p>Stronger uses a range of Open Source technolgies and libraries including:</p>
          <ul class="no-bullet-points">
            <li>
              <a href="https://www.python.org/" title="Python">Python</a>
            </li>
            <li>
              <a href="https://www.djangoproject.com/" title="Django">Django</a>
            </li>
            <li>
              <a href="http://www.postgresql.org/" title="PostgreSQL">PostgreSQL</a>
            </li>
            <li>
              <a href="http://jquery.com/" title="jQuery">jQuery</a>
            </li>
            <li>
              <a href="http://www.highcharts.com/" title="Highcharts">HighChart</a>
            </li>
            <li>
              <a href="http://lesscss.org/" title="Less">LESS</a>
            </li>
            <li>
              <a href="http://getbootstrap.com/" title="Twitter Bootstrap">Twitter Bootstrap</a>
            </li>
            <li>
              <a href="http://jenkins-ci.org/" title="Jenkins">Jenkins</a>
            </li>
            <li>
              <a href="http://git-scm.com/" title="Git">Git</a>
            </li>
            <li>
              <a href="http://httpd.apache.org/" title="Apache HTTP Server">Apache HTTP Server</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="about-involved">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>Get Involved</h2>
          <p>If there is a feature you would like to add 
            or a bug you would like to fix, please check out the source code 
            on <a href="{{GITHUB_URL}}">github</a> and submit a patch.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}