{% extends "base.html" %}

{% block header %}
<script type="text/javascript">
$(function() {
  $("#login-form").submit(function(e) {
      $(this).validate({
        rules: {
          username: {
            required: true
          },
          password: {
              required: true
          }
        }
      });

      if (!$(this).valid()) {
        e.preventDefault()
      }
  });
});
</script>
{% endblock %}

{% block title %}
STRONGER | Login
{% endblock %}

{% block message %}
  <div id="login">
    <div class="container navbar-buffer">
      <div class="row">
          <div class="col-xs-12">
            <h2>LOGIN</h2>
            <p class="text-center">Not registered yet?
              <a href="/signup">Sign up now</a>
            </p>
            <form id="login-form" class="col-sm-offset-3 col-sm-6"
                  action="" method="post">{% csrf_token %}
              {{ login_form.username }}
              {{ login_form.password }}
              <input class="wide-form-field btn" type="submit" value"Log In">
            </form>
            {% if authentication_error %}
              <p class="col-xs-12 error-message">
                Unable to authenticate using those credentials.
                Please try again.
              </p>
            {% endif %}
          </div>
      </div>
    </div>
  </div>
{% endblock %}