{% extends "base.html" %}

{% block header %}
    <script type="text/javascript" src="/static/stronger/js/record_workouts.js"></script>
{% endblock %}

{% block title %}
STRONGER | Dashboard | Record Workout
{% endblock %}

{% block message %}
  <div id="record-workout">
    <div class="container navbar-buffer">
      <div class="row">
        <div class="col-xs-12">
          <h2>RECORD WORKOUT</h2>
          {% if errors %}
            <p class="error-message">
              Please try again - we found some errors...
            </p>
          {% endif %}
          <form id="workout-form" method="post" action="">
            {% csrf_token %}
            {{ workout_form.description }}
            {% if errors.description %}
              <span class="col-xs-12 error-message">{{ errors.description.as_text }}</span>
            {% endif %}
            {{ workout_form.date }}
            {% if errors.date %}
            <span class="col-xs-12 error-message">{{ errors.date.as_text }}</span>
            {% endif %}
            {{ workout_form.comments }}
            {% if errors.comments %}
            <span class="col-xs-12 error-message">{{ errors.comments.as_text }}</span>
            {% endif %}
            <br>
            {{ set_formset.management_form }}
              {% for form in set_formset %}
                {{ form.exercise }}
                {{ form.weight }}
                {{ form.reps }}
              {% endfor %}
            <input id="record_workout" class="col-xs-12" type="submit" value="Save"/>
          </form>
        </div>
      </div>
    </div>
  </div>


{% endblock %}