{% extends "base.html" %}

{% block header %}
    <script type="text/javascript" src="/static/stronger/js/record_workouts.js"></script>
    <script type="text/javascript" src="/static/stronger/js/libs/modernizr.custom.32481.js"></script>

    <script type="text/javascript">
    // pass some data to our JS

    $(function () {
      yepnope({ /* included with Modernizr */
        test : Modernizr.inputtypes.date,
        nope : {
          'css': '/static/stronger/css/jquery-ui-1.10.3.custom.min.css',
          'js': '/static/stronger/js/libs/jquery-ui-1.10.3.datepicker.min.js'
        },
        callback: { // executed once files are loaded
          'js': function() { $('input[type=date]').datepicker({dateFormat: "yy-mm-dd"}); } // default HTML5 format
        }
      });

    });
    </script>
{% endblock %}

{% block title %}
STRONGER | Dashboard | Record Workout
{% endblock %}

{% block message %}
  <div id="record-workout">
    <div class="container navbar-buffer">
      <div class="row">
        <div class="col-xs-12">
          <h2>RECORD WORKOUT</h2>
          <form id="workout-form" method="post" action="">
            {% csrf_token %}
            {{ workout_form.description }}
            {{ workout_form.date }}
            {{ workout_form.comments }}
            <br>
            {{ set_formset.management_form }}
              {% for form in set_formset %}
                {{ form.exercise }}
                {{ form.weight }}
                {{ form.reps }}
              {% endfor %}
            <input id="record_workout" class="col-xs-12" type="submit" value="Save"/>
          </form>
        </div>
      </div>
    </div>
  </div>


{% endblock %}